@font-face {
    font-family: 'agencyb';
    src: url(../AGENCYB.TTF);
}

@import url('https://fonts.googleapis.com/css2?family= Poppins :wght@100;300;200;400;500;600;900 & display=swap');

:root {
    .vermelho{
        color:#73171A;
    }

    .cinza {
        color: #2b2b2b;
    }

    .amarelo {
        color: #5e5227;
    }

    .azul {
        color: #10142e;
    }

    .roxo {
        color: #1B0F1F;
    }

    .font1 {
        font-family: 'agencyb';
    }
}

html {
    background-color: #7a7a7a;
}

menu {
    height: 100px;
    padding-top: 17px;
}

menu > #cont-menu {
    max-width: 1528.5px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#logo > img {
    width: 100px;
    margin-left: 17px;
}

menu > #cont-menu > ul {
    display: none;
    flex-wrap: wrap;
}

menu > #cont-menu > ul > li {
    color: white;
    font-family: 'agencyb';
    font-size: 27px;
    padding: 10px;
}

#menu-borguer {
    color: white;
    font-size: 60px;
    margin-right: 17px;
}

div#infundo-titulo {
    background-image: url(../image/bacground.jpg);
    max-width: 1583px;
    height: 650px;
    background-position: center;
}

div#gamb {
    display: flex;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    max-width: 1036px;
    height: 431px;
    margin: auto;
    color: white;
    text-align: center;
}

header > div#cont-titulo {
    font-family: 'agencyb';
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h2 {
    font-size: 50px;
}

header h1 {
    font-size: 70px;
}

header h3 {
    font-size: 50px;
}

div#cultos {
    background-color: #73171A;
    color: white;
    padding-bottom: 10px;
}

div#cont-cultos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div#cultos p {
    font-family: 'Poppins';
    font-size: 20px;
    margin-bottom: 20px;
}

div#cultos h2 {
    display: block;
    background-color: white;
    color: black;
    border-radius: 20px 20px 0 0;
    width: 430px;
    transform: translate(-15px , -15px);
    font-family: 'agencyb';
    font-size: 56px;
    text-align: center;
}

div#cultos h1 {
    font-family: 'agencyb';
    font-size: 75px;
    text-align: center;
    padding: 15px 0 15px 0;
}

div#cultos h3 {
    font-family: 'agencyb';
    font-size: 46px;
}

span.hora {
    font-family: 'agencyb';
    font-size: 22px;
}

div.subtitulo-dia {
    display: flex;
    align-items: end;
    margin-bottom: 20px;
    justify-content: space-between;
}

div.dias {
    border: 1px solid white;
    width: 400px;
    margin: auto;
    margin: 30px;
    border-radius: 22px;
    padding: 15px;
    height: 570px;
}

div#lideres {
    background-color: #2b2b2b;
    color: white;
    padding: 15px 25px 15px 25px;
}

div#cont-lideres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div#lideres h1 {
    font-family: 'agencyb';
    font-size: 75px;
    text-align: center;
    margin: 0 0 15px 0;
}

div#lideres h2 {
    font-family: 'poppins';
    text-align: center;
}

div#lideres p {
    font-family: 'Poppins';
    font-weight: 200;
    text-align: center;
}

.lideres {
    margin: 20px;
    margin-top: 0;
}

.lideres img {
    display: block;
    margin: 40px auto 40px auto;
    border-radius: 50%;
    box-shadow: 0 0 20px #A9ABAE;
}

div#eventos {
    background-color: #8a6c01;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

div#eventos h1 {
    font-family: 'agencyb';
    font-size: 65px;
    text-align: center;
    margin: 0 0 15px 0;
}

div#eventos p {
    font-family: 'Poppins';
    font-size: 20px;
    margin: 15px 40px 50px 40px;
    text-align: justify;
    text-shadow: 0 0 5px black;
}

div#cont-eventos {
    display: flex;
    flex-wrap: wrap;
}

div.evento {
    width: 390px;
    height: 550px;
    margin: auto;
    padding: 15px;
    display: block;
}

div.evento img {
    width: 390px;
    margin: 0px;
    margin-bottom: 5px;
}

div#convite {
    background-color: #2b2b2b;
    color: white;
    font-family: 'agencyb';
    font-size: 26px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

div#convite div#video-convite {
    margin: 15px auto;
}

div#dizimos {
    background-color: #10142e;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}

div#dizimos h1 {
    font-family: 'agencyb';
    font-size: 60px;
    margin-bottom: 5px;
}

div#dizimos > p {
    font-family: 'Poppins';
    font-weight: 300;
    margin: 20px;
    margin-bottom: 10px;
}

div#dizimos button {
    border-radius: 15px;
    border: none;
    display: flex;
    width: 200px;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
}

#ofertas p {
    font-family: 'agencyb';
    font-size: 37px;
    font-weight: 500;
}

#ofertas img {
    width: 40px;
}

div#biblia {
    height: 400px;
    background-image: url(../image/biblia-fundo.jpg);
    background-position: center;
    display: flex;
    align-items: center;
}

div#biblia button {
    display: block;
    margin: auto;
    display: flex;
    padding: 20px;
    border-radius: 15px;
    border: none;
}

div#biblia p {
    font-family: 'agencyb';
    font-size: 45px;
    margin-left: 10px;
}

div#biblia img {
    width: 50px;
}

div#pedidos-de-oracao {
    background-color: #1B0F1F;
    color: white;
    padding: 20px;
    padding-bottom: 40px;
}

div#pedidos-de-oracao h1 {
    font-family: 'agencyb';
    font-size: 55px;
    text-align: center;
}

div#pedidos-de-oracao > p {
    margin-top: 5px;
    font-family: 'Poppins';
    font-weight: 300;
    text-align: center;
    margin: 20px;
}

div#pedidos-de-oracao button {
    display: flex;
    width: 300px;
    height: 65px;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    border-radius: 15px;
    border: none;
}

div#pedidos-de-oracao button p {
    font-family: 'agencyb';
    font-size: 40px;
    margin-left: 10px;
}

div#pedidos-de-oracao button img {
    width: 50px;
}

footer {
    background-color: #2b2b2b;
    color: white;
    padding: 30px;
}

footer h1 {
    font-family: 'agencyb';
    font-size: 60px;
}

footer p {
    font-family: 'Poppins';
    font-weight: 300;
    margin: 30px auto 30px auto;
}

footer h2 {
    font-family: 'agencyb';
    font-size: 35px;
}


footer img {
    margin: 15px;
    width: 55px;
}

footer img#logo-footer {
    width: 100px;
    display: block;
    margin: auto;
}

div#local {
    width: 340px;
    border-radius: 20px;
    margin: auto;
    padding-bottom: 20px ;
}