@font-face {
    font-family: 'agencyb';
    src: url(../AGENCYB.TTF);
}

@import url('https://fonts.googleapis.com/css2?family= Poppins :wght@100;300;200;400;500;600;900 & display=swap');

:root {
    --vermelho: #73171a;

    --cinza: #2b2b2b;

    --amarelo: #907a29;

    --azul: #10142e;

    --roxo: #1B0F1F;

    --font1: 'agencyb';

    --font2: 'Poppins';
}

html {
    scroll-behavior: smooth;
    background-color: #7a7a7a;
}

body {
    overflow-x: hidden;
}

nav {
    height: 100px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

nav.active ul {
    display: flex;
}

menu img {
    position: absolute;
    width: 80px;
    margin: 17px;
}

nav ul {
    display: flex;
    position: absolute;
    top: 65px;
    right: 10px;
    width: 50vw;
    height: 70vh;
    background-color: rgba(10, 10, 10, 0.902);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    display: none;
}

nav a {
    color: white;
    font-family: var(--font1);
    font-size: 25px;
    text-decoration: none;
    transition: .4s;
}

nav a:hover {
    opacity: 0.4;
}

div.mobileMenu {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 15px;
    transition: .5s;
}

div.mobileMenu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
    box-shadow: 0px 0px 15px #ffffff;
}

div.mobileMenu:hover {
    transform: scale(1.2);
}

nav ul.active {
    transform: translate3d(0);
}

div#infundo-titulo {
    background-image: url(../image/bacground.jpg);
    background-size: cover;

    width: 100vw;
    height: 750px;
    background-position: center;
}

div#gamb {
    display: flex;
    align-items: center;
}

header {
    padding-top: 200px;
    display: flex;
    align-items: center;
    max-width: 1036px;
    height: 431px;
    margin: auto;
    color: white;
    text-align: center;
}

header > div#cont-titulo {
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h2 {
    font-size: 50px;
}

header h1 {
    font-size: 70px;
}

header h3 {
    font-size: 50px;
}

div#cultos {
    background-color: #73171A;
    color: white;
    padding-bottom: 10px;
}

div#cont-cultos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div#cultos p {
    font-family: var(--font2);
    font-size: 20px;
    margin-bottom: 20px;
}

div#cultos h2 {
    display: block;
    background-color: white;
    color: black;
    border-radius: 20px 20px 0 0;
    width: 430px;
    transform: translate(-15px , -15px);
    font-family: var(--font1);
    font-size: 56px;
    text-align: center;
}

div#cultos h1 {
    font-family: var(--font1);
    font-size: 75px;
    text-align: center;
    padding: 15px 0 15px 0;
}

div#cultos h3 {
    font-family: var(--font1);
    font-size: 46px;
}

span.hora {
    font-family: var(--font1);
    font-size: 22px;
}

div.subtitulo-dia {
    display: flex;
    align-items: end;
    margin-bottom: 20px;
    justify-content: space-between;
}

div.dias {
    border: 1px solid white;
    width: 400px;
    margin: auto;
    margin: 30px;
    border-radius: 22px;
    padding: 15px;
    height: 570px;
}

div#lideres {
    background-color: var(--cinza);
    color: white;
    padding: 15px 25px 15px 25px;
}

div#cont-lideres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div#lideres h1 {
    font-family: var(--font1);
    font-size: 75px;
    text-align: center;
    margin: 0 0 15px 0;
}

div#lideres h2 {
    font-family: var(--font2);
    text-align: center;
}

div#lideres p {
    font-family: var(--font2);
    font-weight: 200;
    text-align: center;
}

.lideres {
    margin: 20px;
    margin-top: 0;
}

.lideres img {
    display: block;
    margin: 40px auto 40px auto;
    border-radius: 50%;
    box-shadow: 0 0 20px #A9ABAE;
}

div#eventos {
    background-color: var(--amarelo);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

div#eventos h1 {
    font-family: var(--font1);
    font-size: 65px;
    text-align: center;
    margin: 0 0 15px 0;
}

div#eventos p {
    font-family: var(--font2);
    font-size: 20px;
    margin: 15px 0px 50px 0px;
    text-align: justify;
    text-shadow: 0 0 5px black;
}

div#cont-eventos {
    display: flex;
    flex-wrap: wrap;
}

div.evento {
    width: 390px;
    height: 550px;
    margin: auto;
    padding: 15px;
    display: block;
}

div.evento img {
    width: 390px;
    margin: 0px;
    margin-bottom: 5px;
}

div#convite {
    background-color: var(--cinza);
    color: white;
    font-family: var(--font1);
    font-size: 26px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

div#convite iframe {
    margin-top: 20px;
    width: 90%;
    height: 300px;
    border-radius: 10px;
}

div#dizimos {
    background-color: var(--azul);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}

div#dizimos h1 {
    font-family: var(--font1);
    font-size: 60px;
    margin-bottom: 5px;
}

div#dizimos > p {
    font-family: var(--font2);
    font-weight: 300;
    margin: 20px;
    margin-bottom: 10px;
}

div#dizimos #ofertas {
    color: black;
    background-color: white;
    border-radius: 15px;
    border: none;
    display: flex;
    width: 200px;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    gap: .5rem;
}

a#pag-financ {
    width: 200px;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

#ofertas p {
    font-family: var(--font1);
    font-size: 37px;
    font-weight: 500;
}

#ofertas img {
    width: 40px;
}

div#biblia {
    height: 400px;
    background-image: url(../image/biblia-fundo.jpg);
    background-position: center;
    display: flex;
    align-items: center;
}

div#biblia #biblia-btn {
    display: block;
    background-color: #fff;
    margin: auto;
    display: flex;
    padding: 20px;
    border-radius: 15px;
    border: none;
}

div#biblia p {
    font-family: var(--font1);
    font-size: 45px;
    margin-left: 10px;
}

div#biblia img {
    width: 50px;
}

div#pedidos-de-oracao {
    background-color: var(--roxo);
    color: white;
    padding: 20px;
    padding-bottom: 40px;
}

div#pedidos-de-oracao h1 {
    font-family: var(--font1);
    font-size: 55px;
    text-align: center;
}

div#pedidos-de-oracao > p {
    margin-top: 5px;
    font-family: var(--font2);
    font-weight: 300;
    text-align: center;
    margin: 20px;
}

div#pedidos-de-oracao #pedido {
    background-color: #fff;
    color: black;
    display: flex;
    width: 300px;
    height: 65px;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    border-radius: 15px;
    border: none;
}

div#pedidos-de-oracao #pedido p {
    font-family: var(--font1);
    font-size: 40px;
    margin-left: 10px;
}

div#pedidos-de-oracao #pedido img {
    width: 50px;
}

footer {
    background-color: var(--cinza);
    color: white;
    padding: 30px;
}

footer h1 {
    font-family: var(--font1);
    font-size: 60px;
}

footer p {
    font-family: var(--font2);
    font-weight: 300;
    margin: 30px auto 30px auto;
}

footer h2 {
    font-family: var(--font1);
    font-size: 35px;
}


footer img {
    margin: 15px;
    width: 55px;
}

footer img#logo-footer {
    width: 100px;
    display: block;
    margin: auto;
}

footer iframe {
    height: 400px;
    width: 100%;
    border: none;
    border-radius: 8px;
}